
body, html {
    font-family: monospace;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #232323;
    color: #0f0;
}


body {
    width: 100%;
    height: 2000px;
    display: block;
    background-color: #232323;
    color: #B89076;
    font-family: monospace;
    font-size: 18px;
}

.terminal {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    overflow: auto; 
}

.terminal-content {
    overflow-y: scroll;
}


.container {
    width: 100%; 
    height: 80vh; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.output {
    overflow-y: auto;
    max-height: 60%;
}

.input-container {
    display: flex;
    align-items: center;
}

.prompt {
    color: rgb(94, 255, 0);
    padding-right: 5px;
}

.input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    caret-color: rgb(0, 255, 0);
    width: calc(100% - 16ch); 
}

a {
    text-decoration: none; 
    outline: none; 
    color: #0f0; 
}


a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 12px; 
    background-color: #232323; 
  }

  ::-webkit-scrollbar-track {
    background-color: #232323; 
  }

  ::-webkit-scrollbar-thumb {
    background-color: #00ff00; 
    border-radius: 6px; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #007700; 
  }
  